<%= form_with model: @flat, local: true, class: "mt-4" do |form| %>
  <% if @flat.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@flat.errors.count, "error") %> prohibited this flat from being saved:</h2>
      <ul>
        <% @flat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :price_per_night %>
    <%= form.number_field :price_per_night, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image_url %>
    <%= form.text_field :image_url, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-success" %>
<% end %>
