<h1>Liste des Appartements</h1>


<% @flats.each do |flat| %>
  <div>
    <h2><%= link_to flat.name, flat_path(flat) %></h2>
    <p><%= flat.description %></p>
    <p>Prix : <%= flat.price_per_night %> € / nuit</p>
    <%= link_to "New Flat", new_flat_path %>
    <%= link_to "Edit", edit_flat_path(flat) %>
    <%= link_to "Delete", flat_path(flat), method: :delete, data: { confirm: "Are you sure you want to delete this flat?" } %>
  </div>
<% end %>
