# <h1><%= @flat.name %></h1>
# <p><%= @flat.description %></p>
# <p>Capacité : <%= @flat.number_of_guests %> personnes</p>
# <p>Prix : <%= @flat.price_per_night %> € / nuit</p>

# <%= link_to 'Retour à la liste', flats_path %>

# <h1><%= @flat.name %></h1>
# <p><%= @flat.description %></p>
# <p>Price: <%= @flat.price %> €</p>
# <p>Location: <%= @flat.location %></p>


<h1><%= @flat.name %></h1>
<p><strong>Description :</strong> <%= @flat.description %></p>
<p><strong>Prix :</strong> $<%= @flat.price %></p>

<%= link_to "Retour à la liste des flats", flats_path %>
