<h1><%= @flat.name %></h1>
<p><%= @flat.description %></p>
<p>Prix : <%= @flat.price_per_night %> €</p>
<p>Adresse : <%= @flat.address %></p>

<%= link_to "Edit", edit_flat_path(@flat), class: "btn btn-primary" %>
<%= link_to "Delete", flat_path(@flat), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>


<%= link_to "Retour à la liste des flats", flats_path %>
